

    <div class="container">
      <div class="row">
        <main class="col-md-12">
          <!-- Start your code here -->
          <br />
          <br />
          Welcome to the About page, you can find any resources about this
          website and information about author of this website.
          <br />
          <br />
          <h2>Information of Zhe Tian website</h2>
          <br />
          <br />
          <p>
            This website including HTML5 and Javascript principles and
            techniques, it was created by Zhe Tian, studentID is ztian18 from
            Seneca Database Application Developer program.
          </p>

          <!-- End your code here  -->
        </main>
      </div>
    </div>

    
