

    <div class="container">
      <div class="row">
        <main class="col-md-12">
          <!-- Start your code here -->
          <br />
          <br />
          Hello, Welcome to my website, I will be demonstrating HTML5 principles
          and techniques, Routing in Express, and sharing information of
          students and courses, also you can browsing lots of multimedia right
          here !
          <br />
          <br />
          <h2>Introduction of website</h2>
          <br />
          <br />
          <p>
            This site consists of 3 static views (<a href="/">Home</a>,
            <a href="/about">About</a>, <a href="/htmlDemo">HTML Demo</a>) as
            well as 5 routes that supply data , including:
            <a href="/students">All Students</a>,
            <a href="/students?course=3">Students by Course</a>,
            <a href="/student/2">A Single Student By Student Number</a>,
            <a href="/tas">All TAs</a> and <a href="/courses">All Courses</a>.
          </p>
          <br />
          <br />
          <h2>Introduction of HTML5</h2>
          <br />
          <br />
          <p>
            This site utilizes HTML5: a markup language used for structuring and
            presenting content on the World Wide Web
          </p>

          <!-- End your code here  -->
        </main>
      </div>
    </div>

    
